<div class="jumbotron">
  <h1 class="display-4">Textractor</h1>
  <p class="lead">Demo application for extracting text out of documents</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Upload a Test Document</a>
</div>
